*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    text-align: center;
}

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:75%;
}

h1{
    font-size: 3rem;
    color: crimson;
    margin-bottom: 8px;
    margin-top: 8px;
}



.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:330px;
    background-color: burlywood;
    border-radius: 10px;
    height:330px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    
}

.gridButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
}

.playButtons{
    display: flex;
    width:600px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 8px;
    justify-content: space-between;
    padding: 10px;
    gap:10px;

}

.button{
    width:260px;
    font-size: 1rem;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    padding: 20px;
}

.img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.resultBox{
    width: 350px;
    border: 2px solid gray;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(150, 250, 172);
    border-radius: 2px;
    height: 60px;
    margin-top: 8px;
    display: none;
    padding-top:10px;
}

#startButton{
    background-color: crimson;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}
